# Data Science Tools and Ecosystem

## Author
Huw Hallam

This notebook provides a summary of data science tools and ecosystem.

**Objectives**
* List popular languages for data science
* List commonly used libraries
* List key open source development environments
* Provide examples of basic arithmetic expressions

Popular data science languages include:
1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the libraries commonly used by data scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
 --- 
| JupyterLab |
| RStudio |
| IBM Watson Studio |
| Spyder |

### The following are examples of how arithmetic expressions are evaluated in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
timeInMinutes = 200
timeInHours = round(timeInMinutes/60, 2)
#print(timeInMinutes + " minutes = " + timeInHours + " hours")
f"{timeInMinutes} minutes = {timeInHours} hours"

'200 minutes = 3.33 hours'